# Tables scattered in PDFs

As it is, PDFs are notoriously obnoxious. They are designed so people can't change them easily.

PDFs that hold tables are pretty much the worst.

We want to <a href="https://docs.google.com/spreadsheets/d/1J7CVJgrYWh6xQMe4LzBxn2_ZNrSedo4S6vIN8Ct2EtE/edit?usp=sharing">scrape data from digital PDFs</a>.

You might have worked with the <a href="https://tabula.technology/">Tabula GUI</a> to extract tables from PDFs. But there's a lot of manual work involved. 

To automate the process, we'll use the **Tabula Python Library**.

### There's NO satisfaction guarantee, but at least it's a way to try to tackle PDFs with tables.

For other people getting the JDK error within jupyter nb, this resolved it for me. I installed the latest version of Oracle’s Java JDK. For those with an M1 machine, the appropriate one is the ARM file under the MacOS tab; for those with intel, it’s the x64.

https://www.oracle.com/java/technologies/downloads/#jdk17-mac

## THE SETUP

In [ ]:
## !pip install tabula-py.
## it is not part of the standard Colab library

In [ ]:
pip install -q tabula-py

In [ ]:
# pip install install-jdk

In [1]:
## import tabula
## check it's versioning
import tabula
tabula.environment_info() ## not need always

Python version:
    3.9.7 (default, Sep 16 2021, 08:50:36)
[Clang 10.0.0 ]
Java version:
    java version "19.0.1" 2022-10-18
Java(TM) SE Runtime Environment (build 19.0.1+10-21)
Java HotSpot(TM) 64-Bit Server VM (build 19.0.1+10-21, mixed mode, sharing)
tabula-py version: 2.5.1
platform: macOS-10.16-x86_64-i386-64bit
uname:
    uname_result(system='Darwin', node='Sandeep-Junnarkars-MacBook-Pro.local', release='21.6.0', version='Darwin Kernel Version 21.6.0: Mon Aug 22 20:19:52 PDT 2022; root:xnu-8020.140.49~2/RELEASE_ARM64_T6000', machine='x86_64')
linux_distribution: ('Darwin', '21.6.0', '')
mac_ver: ('10.16', ('', '', ''), 'x86_64')

In [2]:
## import some libraries we need
import pandas as pd ## pandas to work with data

In [4]:
## Let's pull in our first pdf with a single page, single table
pdf1 = "pdf_samples/mockup1.pdf"
pdf1

'pdf_samples/mockup1.pdf'

In [6]:
t1 = tabula.read_pdf(pdf1)
t1

'pages' argument isn't specified.Will extract only from page 1 by default.

[   Fringe Benefit Expenses (in millions) Fiscal 2019 Fiscal 2020  \
 0                       Health Insurance      $6,268      $7,173
 1                        Social Security      $2,161      $2,224
 2          Supplemental Welfare Benefits      $1,259      $1,333
 3                  Worker's Compensation        $343        $369
 4                  Annuity Contributions        $117        $120
 5                 Allowance for Uniforms         $72         $71
 6      Worker's Compensation - Uniformed         $41         $42
 7                 Unemployment Insurance         $36         $38
 8                  Other Fringe Benefits         $12         $12
 9               Faculty Welfare Benefits         $33         $10
 10                  Disability Insurance          $1          $1
 11                                Total*     $10,642     $11,394

    Percent Change
 0             14%
 1              3%
 2              6%
 3              8%
 4              3%
 5             -1%
 6              4%
 7              3%
 8             -3%
 9            -69%
 10             0%
 11             7%  ]

In [7]:
## WHAT TYPE OF DATA?
type(t1)

list

In [8]:
## let's get the first table
t1[0]

,Fringe Benefit Expenses (in millions),Fiscal 2019,Fiscal 2020,Percent Change
0,Health Insurance,"$6,268","$7,173",14%
1,Social Security,"$2,161","$2,224",3%
2,Supplemental Welfare Benefits,"$1,259","$1,333",6%
3,Worker's Compensation,$343,$369,8%
4,Annuity Contributions,$117,$120,3%
5,Allowance for Uniforms,$72,$71,-1%
6,Worker's Compensation - Uniformed,$41,$42,4%
7,Unemployment Insurance,$36,$38,3%
8,Other Fringe Benefits,$12,$12,-3%
9,Faculty Welfare Benefits,$33,$10,-69%
10,Disability Insurance,$1,$1,0%
11,Total*,"$10,642","$11,394",7%

In [9]:
## look at it
table1 = t1[0]

In [10]:
## WHT TYPE OF DATA?
type(table1)

pandas.core.frame.DataFrame

In [11]:
## Export and download as CSV file
table1.to_csv("table1.csv", encoding = "UTF-8", index = False)

# Multiple pages/ Multiple tables

In [12]:
## let's pull in our a file with multiple pages and tables
## we target the table on the first and second page.
pdf2 = "pdf_samples/mockup2.pdf"
pdf2

'pdf_samples/mockup2.pdf'

In [13]:
t2 = tabula.read_pdf(pdf2, pages="1-2")
t2

[   Fringe Benefit Expenses (in millions) Fiscal 2019 Fiscal 2020  \
 0                       Health Insurance      $6,268      $7,173
 1                        Social Security      $2,161      $2,224
 2          Supplemental Welfare Benefits      $1,259      $1,333
 3                  Worker's Compensation        $343        $369
 4                  Annuity Contributions        $117        $120
 5                 Allowance for Uniforms         $72         $71
 6      Worker's Compensation - Uniformed         $41         $42
 7                 Unemployment Insurance         $36         $38
 8                  Other Fringe Benefits         $12         $12
 9               Faculty Welfare Benefits         $33         $10
 10                  Disability Insurance          $1          $1
 11                                Total*     $10,642     $11,394

    Percent Change
 0             14%
 1              3%
 2              6%
 3              8%
 4              3%
 5             -1%
 6              4%
 7              3%
 8             -3%
 9            -69%
 10             0%
 11             7%  ,
                              Unnamed: 0   FY19  FY20  Unnamed: 1  FY21  \
 0                         Real Property  ($70)    $0         NaN    $0
 1                       Personal Income    284   152         NaN   120
 2                   General Corporation     71    71         NaN    67
 3               Unincorporated Business    -52  -189         NaN  -133
 4                         Sales and Use     18    98         NaN   114
 5                       Commercial Rent     11    15         NaN    16
 6                Real Property Transfer    -30    45         NaN    44
 7                    Mortgage Recording    -24    25         NaN    24
 8                               Utility      0     1         NaN     0
 9                                 Hotel      5    -9         NaN     1
 10                            All Other    -11     0         NaN     0
 11  Total Executive 2020 Financial Plan    NaN   NaN         NaN   NaN
 12                              Changes   $202  $209         NaN  $253

     Unnamed: 2  FY22  Unnamed: 3  FY23
 0          NaN    $0         NaN    $0
 1          NaN   122         NaN    87
 2          NaN    78         NaN    41
 3          NaN  -106         NaN  -110
 4          NaN   112         NaN   112
 5          NaN    18         NaN    18
 6          NaN    48         NaN    45
 7          NaN    27         NaN    25
 8          NaN     0         NaN     0
 9          NaN     0         NaN     7
 10         NaN     0         NaN     0
 11         NaN   NaN         NaN   NaN
 12         NaN  $299         NaN  $225  ]

In [14]:
## let's get the second table
t2[1]

,Unnamed: 0,FY19,FY20,Unnamed: 1,FY21,Unnamed: 2,FY22,Unnamed: 3,FY23
0,Real Property,($70),$0,NaN,$0,NaN,$0,NaN,$0
1,Personal Income,284,152,NaN,120,NaN,122,NaN,87
2,General Corporation,71,71,NaN,67,NaN,78,NaN,41
3,Unincorporated Business,-52,-189,NaN,-133,NaN,-106,NaN,-110
4,Sales and Use,18,98,NaN,114,NaN,112,NaN,112
5,Commercial Rent,11,15,NaN,16,NaN,18,NaN,18
6,Real Property Transfer,-30,45,NaN,44,NaN,48,NaN,45
7,Mortgage Recording,-24,25,NaN,24,NaN,27,NaN,25
8,Utility,0,1,NaN,0,NaN,0,NaN,0
9,Hotel,5,-9,NaN,1,NaN,0,NaN,7
10,All Other,-11,0,NaN,0,NaN,0,NaN,0
11,Total Executive 2020 Financial Plan,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
12,Changes,$202,$209,NaN,$253,NaN,$299,NaN,$225

In [ ]:
table2 = t2[1].copy()
tabe2

In [ ]:
## we are pulling in a range of pages
## IMPORTANT: There are no spaces in "1-2,4"

## Homework for week 9

- Multi-page, Multi-table all zipped together
- Look at week 9

## Foundational Multi-page, Multi-table

### Campaign contribution demo

In [15]:
## path to our "campaign_contribs.pdf" PDF
pdf3 = "pdf_samples/campaign_contribs.pdf"
pdf3

'pdf_samples/campaign_contribs.pdf'

In [19]:
## get all the pages
tables = tabula.read_pdf(pdf3, pages = "all")
tables

[                         committee name state contrib_date contrib_amount
 0                   BIDEN FOR PRESIDENT    AK      6/30/20         $2,800
 1   DONALD J. TRUMP FOR PRESIDENT, INC.    AL      6/30/20         $2,000
 2                   BIDEN FOR PRESIDENT    AL      6/30/20         $2,800
 3   DONALD J. TRUMP FOR PRESIDENT, INC.    AR      6/30/20         $5,000
 4   DONALD J. TRUMP FOR PRESIDENT, INC.    AZ      6/30/20         $2,000
 5                   BIDEN FOR PRESIDENT    AZ      6/30/20         $2,800
 6   DONALD J. TRUMP FOR PRESIDENT, INC.    CA      6/30/20         $2,000
 7   DONALD J. TRUMP FOR PRESIDENT, INC.    CA      6/30/20         $2,000
 8   DONALD J. TRUMP FOR PRESIDENT, INC.    CA      6/30/20         $2,800
 9   DONALD J. TRUMP FOR PRESIDENT, INC.    CA      6/30/20         $2,800
 10  DONALD J. TRUMP FOR PRESIDENT, INC.    CA      6/30/20         $2,800
 11  DONALD J. TRUMP FOR PRESIDENT, INC.    CA      6/30/20         $2,800
 12  DONALD J. TRUMP FOR PRESIDENT, INC.    CA      6/30/20         $2,800
 13  DONALD J. TRUMP FOR PRESIDENT, INC.    CA      6/30/20         $2,800
 14  DONALD J. TRUMP FOR PRESIDENT, INC.    CA      6/30/20         $2,800
 15  DONALD J. TRUMP FOR PRESIDENT, INC.    CA      6/30/20         $5,000
 16                  BIDEN FOR PRESIDENT    CA      6/30/20         $2,000
 17                  BIDEN FOR PRESIDENT    CA      6/30/20         $2,000
 18                  BIDEN FOR PRESIDENT    CA      6/30/20         $2,000
 19                  BIDEN FOR PRESIDENT    CA      6/30/20         $2,300
 20                  BIDEN FOR PRESIDENT    CA      6/30/20         $2,400
 21                  BIDEN FOR PRESIDENT    CA      6/30/20         $2,700
 22                  BIDEN FOR PRESIDENT    CA      6/30/20         $2,800
 23                  BIDEN FOR PRESIDENT    CA      6/30/20         $2,800
 24                  BIDEN FOR PRESIDENT    CA      6/30/20         $2,800,
                          committee name state contrib_date contrib_amount
 0                   BIDEN FOR PRESIDENT    DC      6/30/20         $2,800
 1                   BIDEN FOR PRESIDENT    DC      6/30/20         $5,600
 2                   BIDEN FOR PRESIDENT    DC      6/30/20         $5,600
 3   DONALD J. TRUMP FOR PRESIDENT, INC.    FL      6/30/20         $2,000
 4   DONALD J. TRUMP FOR PRESIDENT, INC.    FL      6/30/20         $2,000
 5   DONALD J. TRUMP FOR PRESIDENT, INC.    FL      6/30/20         $2,500
 6   DONALD J. TRUMP FOR PRESIDENT, INC.    FL      6/30/20         $2,800
 7   DONALD J. TRUMP FOR PRESIDENT, INC.    FL      6/30/20         $2,800
 8   DONALD J. TRUMP FOR PRESIDENT, INC.    FL      6/30/20         $2,800
 9   DONALD J. TRUMP FOR PRESIDENT, INC.    FL      6/30/20         $2,800
 10  DONALD J. TRUMP FOR PRESIDENT, INC.    FL      6/30/20         $2,800
 11  DONALD J. TRUMP FOR PRESIDENT, INC.    FL      6/30/20         $2,800
 12  DONALD J. TRUMP FOR PRESIDENT, INC.    FL      6/30/20         $5,600
 13                  BIDEN FOR PRESIDENT    FL      6/30/20         $2,800
 14                  BIDEN FOR PRESIDENT    FL      6/30/20         $2,800
 15                  BIDEN FOR PRESIDENT    FL      6/30/20         $2,800
 16                  BIDEN FOR PRESIDENT    FL      6/30/20         $2,800
 17                  BIDEN FOR PRESIDENT    FL      6/30/20         $5,000
 18  DONALD J. TRUMP FOR PRESIDENT, INC.    GA      6/30/20         $2,800
 19  DONALD J. TRUMP FOR PRESIDENT, INC.    GA      6/30/20         $2,800
 20  DONALD J. TRUMP FOR PRESIDENT, INC.    GA      6/30/20         $2,800
 21  DONALD J. TRUMP FOR PRESIDENT, INC.    GA      6/30/20         $5,000
 22  DONALD J. TRUMP FOR PRESIDENT, INC.    GA      6/30/20         $5,000,
                          committee name state contrib_date contrib_amount
 0                   BIDEN FOR PRESIDENT    CA      6/30/20         $2,800
 1                   BIDEN FOR PRESIDENT    CA      6/30/20         $2,800
 2                   BIDEN FOR PRESIDENT    CA      6/30/20         $2,800
 3                   BIDEN FOR PRESIDENT    CA      6/30/20         $2,800
 4                   BIDEN FOR PRESIDENT    CA      6/30/20         $2,800
 5                   BIDEN FOR PRESIDENT    CA      6/30/20         $2,800
 6                   BIDEN FOR PRESIDENT    CA      6/30/20         $2,800
 7                   BIDEN FOR PRESIDENT    CA      6/30/20         $2,800
 8                   BIDEN FOR PRESIDENT    CA      6/30/20         $2,800
 9                   BIDEN FOR PRESIDENT    CA      6/30/20         $2,800
 10                  BIDEN FOR PRESIDENT    CA      6/30/20         $2,800
 11                  BIDEN FOR PRESIDENT    CA      6/30/20         $2,800
 12                  BIDEN FOR PRESIDENT    CA      6/30/20         $5,000
 13                  BIDEN FOR PRESIDENT    CA      6/30/20         $5,000
 14                  BIDEN FOR PRESIDENT    CA      6/30/20         $5,600
 15                  BIDEN FOR PRESIDENT    CA      6/30/20         $5,600
 16                  BIDEN FOR PRESIDENT    CA      6/30/20         $5,600
 17  DONALD J. TRUMP FOR PRESIDENT, INC.    CO      6/30/20         $2,500
 18  DONALD J. TRUMP FOR PRESIDENT, INC.    CO      6/30/20         $2,800
 19                  BIDEN FOR PRESIDENT    CO      6/30/20         $2,000
 20  DONALD J. TRUMP FOR PRESIDENT, INC.    CT      6/30/20         $2,800
 21                  BIDEN FOR PRESIDENT    CT      6/30/20         $2,800
 22                  BIDEN FOR PRESIDENT    CT      6/30/20         $2,800
 23                  BIDEN FOR PRESIDENT    DC      6/30/20         $2,800
 24                  BIDEN FOR PRESIDENT    DC      6/30/20         $2,800,
                          committee name state contrib_date contrib_amount
 0                   BIDEN FOR PRESIDENT    GA      6/30/20         $3,000
 1                   BIDEN FOR PRESIDENT    GA      6/30/20         $5,000
 2                   BIDEN FOR PRESIDENT    HI      6/30/20         $2,000
 3                   BIDEN FOR PRESIDENT    HI      6/30/20         $5,600
 4                   BIDEN FOR PRESIDENT    IL      6/30/20         $2,600
 5                   BIDEN FOR PRESIDENT    IL      6/30/20         $2,800
 6                   BIDEN FOR PRESIDENT    IL      6/30/20         $2,800
 7                   BIDEN FOR PRESIDENT    IL      6/30/20         $2,800
 8                   BIDEN FOR PRESIDENT    IL      6/30/20         $5,000
 9   DONALD J. TRUMP FOR PRESIDENT, INC.    IN      6/30/20         $2,800
 10  DONALD J. TRUMP FOR PRESIDENT, INC.    IN      6/30/20         $2,800
 11                  BIDEN FOR PRESIDENT    IN      6/30/20         $2,800
 12  DONALD J. TRUMP FOR PRESIDENT, INC.    KY      6/30/20         $2,800
 13                  BIDEN FOR PRESIDENT    KY      6/30/20         $2,800
 14                  BIDEN FOR PRESIDENT    LA      6/30/20         $5,600
 15                  BIDEN FOR PRESIDENT    LA      6/30/20         $5,600
 16                  BIDEN FOR PRESIDENT    LA      6/30/20         $5,600
 17                  BIDEN FOR PRESIDENT    LA      6/30/20         $5,600
 18                  BIDEN FOR PRESIDENT    LA      6/30/20         $5,600
 19  DONALD J. TRUMP FOR PRESIDENT, INC.    MA      6/30/20         $2,500
 20  DONALD J. TRUMP FOR PRESIDENT, INC.    MA      6/30/20         $4,050
 21                  BIDEN FOR PRESIDENT    MA      6/30/20         $2,550
 22                  BIDEN FOR PRESIDENT    MA      6/30/20         $2,600
 23                  BIDEN FOR PRESIDENT    MA      6/30/20         $2,800
 24                  BIDEN FOR PRESIDENT    MA      6/30/20         $2,800
 25                  BIDEN FOR PRESIDENT    MA      6/30/20         $2,800
 26                  BIDEN FOR PRESIDENT    MA      6/30/20         $2,800]

In [20]:
## confirm we have the correct number of tables. should have 4 tables
len(tables)

4

In [24]:
## let's get the 3rd table
tables[1]

                         committee name state contrib_date contrib_amount
0                   BIDEN FOR PRESIDENT    DC      6/30/20         $2,800
1                   BIDEN FOR PRESIDENT    DC      6/30/20         $5,600
2                   BIDEN FOR PRESIDENT    DC      6/30/20         $5,600
3   DONALD J. TRUMP FOR PRESIDENT, INC.    FL      6/30/20         $2,000
4   DONALD J. TRUMP FOR PRESIDENT, INC.    FL      6/30/20         $2,000
5   DONALD J. TRUMP FOR PRESIDENT, INC.    FL      6/30/20         $2,500
6   DONALD J. TRUMP FOR PRESIDENT, INC.    FL      6/30/20         $2,800
7   DONALD J. TRUMP FOR PRESIDENT, INC.    FL      6/30/20         $2,800
8   DONALD J. TRUMP FOR PRESIDENT, INC.    FL      6/30/20         $2,800
9   DONALD J. TRUMP FOR PRESIDENT, INC.    FL      6/30/20         $2,800
10  DONALD J. TRUMP FOR PRESIDENT, INC.    FL      6/30/20         $2,800
11  DONALD J. TRUMP FOR PRESIDENT, INC.    FL      6/30/20         $2,800
12  DONALD J. TRUMP FOR PRESIDENT, INC.    FL      6/30/20         $5,600
13                  BIDEN FOR PRESIDENT    FL      6/30/20         $2,800
14                  BIDEN FOR PRESIDENT    FL      6/30/20         $2,800
15                  BIDEN FOR PRESIDENT    FL      6/30/20         $2,800
16                  BIDEN FOR PRESIDENT    FL      6/30/20         $2,800
17                  BIDEN FOR PRESIDENT    FL      6/30/20         $5,000
18  DONALD J. TRUMP FOR PRESIDENT, INC.    GA      6/30/20         $2,800
19  DONALD J. TRUMP FOR PRESIDENT, INC.    GA      6/30/20         $2,800
20  DONALD J. TRUMP FOR PRESIDENT, INC.    GA      6/30/20         $2,800
21  DONALD J. TRUMP FOR PRESIDENT, INC.    GA      6/30/20         $5,000
22  DONALD J. TRUMP FOR PRESIDENT, INC.    GA      6/30/20         $5,000

In [29]:
## create a function to download each table as CSV
def combine_tables(list_name, csv_name):
    '''
    takes multiple dataframes in a list, concats them
    export to csv
    para1: list name
    para2: csv file name including .csv as string 
    '''
    df = pd.concat(list_name)
    df.reset_index(inplace = True, drop = True)
    df.to_csv(csv_name, encoding = "UTF-8", index = False)
    return df

In [30]:
df20 = combine_tables(tables, "prez20.csv")

In [32]:
df20.sample(10)

                         committee name state contrib_date contrib_amount
68  DONALD J. TRUMP FOR PRESIDENT, INC.    CT      6/30/20         $2,800
76                  BIDEN FOR PRESIDENT    HI      6/30/20         $5,600
8   DONALD J. TRUMP FOR PRESIDENT, INC.    CA      6/30/20         $2,800
13  DONALD J. TRUMP FOR PRESIDENT, INC.    CA      6/30/20         $2,800
61                  BIDEN FOR PRESIDENT    CA      6/30/20         $5,000
95                  BIDEN FOR PRESIDENT    MA      6/30/20         $2,600
58                  BIDEN FOR PRESIDENT    CA      6/30/20         $2,800
72                  BIDEN FOR PRESIDENT    DC      6/30/20         $2,800
44  DONALD J. TRUMP FOR PRESIDENT, INC.    GA      6/30/20         $2,800
60                  BIDEN FOR PRESIDENT    CA      6/30/20         $5,000

In [26]:
## call the function
df2020 = combine_tables(tables, "prz_contribs.csv")
df2020

                         committee name state contrib_date contrib_amount
0                   BIDEN FOR PRESIDENT    AK      6/30/20         $2,800
1   DONALD J. TRUMP FOR PRESIDENT, INC.    AL      6/30/20         $2,000
2                   BIDEN FOR PRESIDENT    AL      6/30/20         $2,800
3   DONALD J. TRUMP FOR PRESIDENT, INC.    AR      6/30/20         $5,000
4   DONALD J. TRUMP FOR PRESIDENT, INC.    AZ      6/30/20         $2,000
..                                  ...   ...          ...            ...
95                  BIDEN FOR PRESIDENT    MA      6/30/20         $2,600
96                  BIDEN FOR PRESIDENT    MA      6/30/20         $2,800
97                  BIDEN FOR PRESIDENT    MA      6/30/20         $2,800
98                  BIDEN FOR PRESIDENT    MA      6/30/20         $2,800
99                  BIDEN FOR PRESIDENT    MA      6/30/20         $2,800

[100 rows x 4 columns]

In [ ]:
## write function to combine tabula tables into a single csv

In [ ]:
## call the function

## Reality Check

In [ ]:
## import who_covid.pdf

In [ ]:
##look at it

In [ ]:
## table on page 3

In [ ]:
##table on page 4

# No Satisfaction Guarantee

I know I said that at the beginning. What did I mean by that?

The results really depend on the PDF and how it was put together.

Here are some issues you will encounter:

1. The Tables have too many sub-columns and sub-rows and groupings (bad_table.pdf)

2. Multiple different tables on the same page that are too close together will be processed as a single table and be an utter mess.

3. Documents and reports that have been scanned and are really images of PDFs can't be processed with Tabula or PyPDF2. Tables on these types of scans require advanced Python and graphical analysis skills beyond the scope of this course.