# Regular Expressions (regex) - Part 2

Pages we need to visit:

- <a href="https://docs.google.com/presentation/d/165Dc2jKVK1KITd3FTzOeYS2EA5DUNutajFMuy3tQ84Q/edit?usp=sharing">What is REGEX in our news reporting context?</a> 
- Live Testing: https://regex101.com/
- Sandeep's <a href="https://docs.google.com/spreadsheets/d/1A39lM4SiGZbzZPxrjEXkR05aksAewudccWmojoIU0Gk/edit?usp=sharing">REGEX Tip sheet</a>
- Common pattern finder: https://regexlib.com/Default.aspx


Some dummy text:

In [1]:
## place dummy text into a variable called mydoc
mydoc = '''12534 127 ab aba abba sandeepj@bloomberg.net abbba, abbbbba, (518) 469-4581 abcde.The dog is a not a hog. ABA ABBA ABBBA.

Florence smith
John Smith
Carol Brown Tel. 212-452-5728


Ab_CD123  123456 and 12456	tor 12531245134562. 123867584789. $40.44 or $3 or $52,583.08 or $610,235.11
Tel. (917) 492-8601

The cat sat down and called 514-957-3453 while the other caaaaaat purred. This cat is in California while this caaaat is in Iraq, but none are in ct. My dog prefers cat food to dog food but hates fish food.My food tastes yummy!
Peter Trapp Jon Smythe Luca Smith John Smythe
Maggie Veach Tel. 718 601 7567

AB_cd 	<+>-.,!@# $%^&*();\/|_^@1# (917) 488-5410

*!dsar2d1

I told him to search Jon Smith
Katie Pine
John Smth

TELEPHONE NUMBERS
Tel. 718-392-4793
Tel. (646) 469-3211
Tel. 917.425.2796

NUMBERS
1
12
123
123,456
123,456,789
123,456,789.01

EMAILS
sandeep.junnarkar@journalism.cuny.edu
sandeepj@gmail.com
sjunnarkar@bloomberg.net
sandeep.junnarkar@news.co.uk


POLICE
Det. Frank Castille
Police Officer Dan D. Dennings
Lt. Patrician Grace
Detective Susan Treeble
Officer Cantwell Brady-Stevens

Novel Djokvichthe thesaurus where sandeep.junnarkar@journalism.cuny.edu he'd be able to sjnews@gmail.com find words like them.

abcdefgczhijklmnopqrstuvwxyz	ABCDEFGCZHIJKLMNOPQRSTUVWXYZ

A h0g is a hog.

Dog and dog and DOG. His number is 415.458.9163. John Brown jon Smith
Peter Finch

&^%@ 129

$12,560

abba

cat 3452 black
dog 234 white
fish 3562 silver
rat 94 white
bird 1957 purple
horse 3 black
chameleon  5724 green
snake 6730 red



'''

In [2]:
## call mydoc
mydoc

"12534 127 ab aba abba sandeepj@bloomberg.net abbba, abbbbba, (518) 469-4581 abcde.The dog is a not a hog. ABA ABBA ABBBA.\n\nFlorence smith\nJohn Smith\nCarol Brown Tel. 212-452-5728\n\n\nAb_CD123  123456 and 12456\ttor 12531245134562. 123867584789. $40.44 or $3 or $52,583.08 or $610,235.11\nTel. (917) 492-8601\n\nThe cat sat down and called 514-957-3453 while the other caaaaaat purred. This cat is in California while this caaaat is in Iraq, but none are in ct. My dog prefers cat food to dog food but hates fish food.My food tastes yummy!\nPeter Trapp Jon Smythe Luca Smith John Smythe\nMaggie Veach Tel. 718 601 7567\n\nAB_cd \t<+>-.,!@# $%^&*();\\/|_^@1# (917) 488-5410\n\n*!dsar2d1\n\nI told him to search Jon Smith\nKatie Pine\nJohn Smth\n\nTELEPHONE NUMBERS\nTel. 718-392-4793\nTel. (646) 469-3211\nTel. 917.425.2796\n\nNUMBERS\n1\n12\n123\n123,456\n123,456,789\n123,456,789.01\n\nEMAILS\nsandeep.junnarkar@journalism.cuny.edu\nsandeepj@gmail.com\nsjunnarkar@bloomberg.net\nsandeep.junnarkar@news.co.uk\n\n\nPOLICE\nDet. Frank Castille\nPolice Officer Dan D. Dennings\nLt. Patrician Grace\nDetective Susan Treeble\nOfficer Cantwell Brady-Stevens\n\nNovel Djokvichthe thesaurus where sandeep.junnarkar@journalism.cuny.edu he'd be able to sjnews@gmail.com find words like them.\n\nabcdefgczhijklmnopqrstuvwxyz\tABCDEFGCZHIJKLMNOPQRSTUVWXYZ\n\nA h0g is a hog.\n\nDog and dog and DOG. His number is 415.458.9163. John Brown jon Smith\nPeter Finch\n\n&^%@ 129\n\n$12,560\n\nabba\n\ncat 3452 black\ndog 234 white\nfish 3562 silver\nrat 94 white\nbird 1957 purple\nhorse 3 black\nchameleon  5724 green\nsnake 6730 red\n\n\n\n"

In [3]:
## print variable
print(mydoc)

12534 127 ab aba abba sandeepj@bloomberg.net abbba, abbbbba, (518) 469-4581 abcde.The dog is a not a hog. ABA ABBA ABBBA.

Florence smith
John Smith
Carol Brown Tel. 212-452-5728


Ab_CD123  123456 and 12456	tor 12531245134562. 123867584789. $40.44 or $3 or $52,583.08 or $610,235.11
Tel. (917) 492-8601

The cat sat down and called 514-957-3453 while the other caaaaaat purred. This cat is in California while this caaaat is in Iraq, but none are in ct. My dog prefers cat food to dog food but hates fish food.My food tastes yummy!
Peter Trapp Jon Smythe Luca Smith John Smythe
Maggie Veach Tel. 718 601 7567

AB_cd 	<+>-.,!@# $%^&*();\/|_^@1# (917) 488-5410

*!dsar2d1

I told him to search Jon Smith
Katie Pine
John Smth

TELEPHONE NUMBERS
Tel. 718-392-4793
Tel. (646) 469-3211
Tel. 917.425.2796

NUMBERS
1
12
123
123,456
123,456,789
123,456,789.01

EMAILS
sandeep.junnarkar@journalism.cuny.edu
sandeepj@gmail.com
sjunnarkar@bloomberg.net
sandeep.junnarkar@news.co.uk


POLICE
Det. Frank Castille
Police Officer Dan D. Dennings
Lt. Patrician Grace
Detective Susan Treeble
Officer Cantwell Brady-Stevens

Novel Djokvichthe thesaurus where sandeep.junnarkar@journalism.cuny.edu he'd be able to sjnews@gmail.com find words like them.

abcdefgczhijklmnopqrstuvwxyz	ABCDEFGCZHIJKLMNOPQRSTUVWXYZ

A h0g is a hog.

Dog and dog and DOG. His number is 415.458.9163. John Brown jon Smith
Peter Finch

&^%@ 129

$12,560

abba

cat 3452 black
dog 234 white
fish 3562 silver
rat 94 white
bird 1957 purple
horse 3 black
chameleon  5724 green
snake 6730 red

In [4]:
## import libraries
import pandas as pd
import re

In [5]:
## Run this cell
some_text = "The dog barked at the other dog, cat and kitten."

### Simple Python literal search

In [6]:
## is dog in my text
"dog" in some_text

True

In [7]:
## is kitten in my text
"kitten" in some_text

True

In [8]:
## is bird in my text
"bird" in some_text

False

## ```search```

- returns ONLY the first instance of the search pattern

#### Method 1. 
#### ```some_result = re.search(some_pattern, some_string)```

In [9]:
## call some_text
some_text

'The dog barked at the other dog, cat and kitten.'

In [10]:
## using a literal
re.search("dog", some_text)

In [11]:
## using regex search
re.search("do\w", some_text)

#### Method 2.

####  ```pattern_variable = re.compile("some_pattern")```

#### ```a_result = pattern_variable.search(some_string)```

In [12]:
## use method 2
dog_pat = re.compile("d\wg")

re.Pattern

In [13]:
## search for pattern
dog_pat.search(some_text)

#### The two methods are identical, but method 2 with ```re.compile``` is more efficient since you store the pattern and reuse it.

In [15]:
## run this
other_text = "The military vet who loves her dog was able to overcome her PTSD with the help of a service dog."

In [18]:
## SEARCH
vet_dog = dog_pat.search(other_text)
vet_dog

### Returning the match object

In [17]:
## what type of object is the pattern?
type(dog_pat)

re.Pattern

In [ ]:
## what type of object did it return it (pet_search)?
type(vet_dog)

In [20]:
## pull out location from the match object
vet_dog.span()

(31, 34)

In [21]:
## pull out the match object
### this will break
vet_dog.match()

AttributeError: 're.Match' object has no attribute 'match'

#### ```.group()``` returns the matched pattern in from the text

In [22]:
## pull out the matched pattern itself
vet_dog.group()

'dog'

In [24]:
type(vet_dog.group())

str

In [23]:
## zeroth object
vet_dog.group(0)

'dog'

In [25]:
## run some text again
some_text

'The dog barked at the other dog, cat and kitten.'

In [39]:
## let's look for something that we know if NOT in the text
birdie = re.search("bird", some_text)
birdie

In [29]:
## what type did it return?
type(birdie)

NoneType

In [30]:
## print what it returned 
print(birdie)

None

#### You can build conditional logic based on what is returned -- even if nothing is returned.

In [31]:
## write conditional here
if birdie == None:
    print("Pattern not found. skipping rest of doc and going to next doc.")
elif birdie.group() == "bird":
    print("pattern found. looking for other patterns in this doc.")

Pattern not found. skipping rest of doc and going to next doc.

In [36]:
## run this cell
some_text = "The bird flew over the dog and cat."

In [41]:
## rerun the regex with "bird" for the  new text
## write conditional here
birdie = re.search("bird", some_text)
birdie

In [42]:
## rerun the conditional
if birdie == None:
    print("Pattern not found. skipping rest of doc and going to next doc.")
elif birdie.group() == "bird":
    print("pattern found. looking for other patterns in this doc.")

pattern found. looking for other patterns in this doc.

## ```findall```

- Returns a list of all found items

In [43]:
## RUN mydoc again
mydoc

"12534 127 ab aba abba sandeepj@bloomberg.net abbba, abbbbba, (518) 469-4581 abcde.The dog is a not a hog. ABA ABBA ABBBA.\n\nFlorence smith\nJohn Smith\nCarol Brown Tel. 212-452-5728\n\n\nAb_CD123  123456 and 12456\ttor 12531245134562. 123867584789. $40.44 or $3 or $52,583.08 or $610,235.11\nTel. (917) 492-8601\n\nThe cat sat down and called 514-957-3453 while the other caaaaaat purred. This cat is in California while this caaaat is in Iraq, but none are in ct. My dog prefers cat food to dog food but hates fish food.My food tastes yummy!\nPeter Trapp Jon Smythe Luca Smith John Smythe\nMaggie Veach Tel. 718 601 7567\n\nAB_cd \t<+>-.,!@# $%^&*();\\/|_^@1# (917) 488-5410\n\n*!dsar2d1\n\nI told him to search Jon Smith\nKatie Pine\nJohn Smth\n\nTELEPHONE NUMBERS\nTel. 718-392-4793\nTel. (646) 469-3211\nTel. 917.425.2796\n\nNUMBERS\n1\n12\n123\n123,456\n123,456,789\n123,456,789.01\n\nEMAILS\nsandeep.junnarkar@journalism.cuny.edu\nsandeepj@gmail.com\nsjunnarkar@bloomberg.net\nsandeep.junnarkar@news.co.uk\n\n\nPOLICE\nDet. Frank Castille\nPolice Officer Dan D. Dennings\nLt. Patrician Grace\nDetective Susan Treeble\nOfficer Cantwell Brady-Stevens\n\nNovel Djokvichthe thesaurus where sandeep.junnarkar@journalism.cuny.edu he'd be able to sjnews@gmail.com find words like them.\n\nabcdefgczhijklmnopqrstuvwxyz\tABCDEFGCZHIJKLMNOPQRSTUVWXYZ\n\nA h0g is a hog.\n\nDog and dog and DOG. His number is 415.458.9163. John Brown jon Smith\nPeter Finch\n\n&^%@ 129\n\n$12,560\n\nabba\n\ncat 3452 black\ndog 234 white\nfish 3562 silver\nrat 94 white\nbird 1957 purple\nhorse 3 black\nchameleon  5724 green\nsnake 6730 red\n\n\n\n"

In [44]:
print(mydoc)

12534 127 ab aba abba sandeepj@bloomberg.net abbba, abbbbba, (518) 469-4581 abcde.The dog is a not a hog. ABA ABBA ABBBA.

Florence smith
John Smith
Carol Brown Tel. 212-452-5728


Ab_CD123  123456 and 12456	tor 12531245134562. 123867584789. $40.44 or $3 or $52,583.08 or $610,235.11
Tel. (917) 492-8601

The cat sat down and called 514-957-3453 while the other caaaaaat purred. This cat is in California while this caaaat is in Iraq, but none are in ct. My dog prefers cat food to dog food but hates fish food.My food tastes yummy!
Peter Trapp Jon Smythe Luca Smith John Smythe
Maggie Veach Tel. 718 601 7567

AB_cd 	<+>-.,!@# $%^&*();\/|_^@1# (917) 488-5410

*!dsar2d1

I told him to search Jon Smith
Katie Pine
John Smth

TELEPHONE NUMBERS
Tel. 718-392-4793
Tel. (646) 469-3211
Tel. 917.425.2796

NUMBERS
1
12
123
123,456
123,456,789
123,456,789.01

EMAILS
sandeep.junnarkar@journalism.cuny.edu
sandeepj@gmail.com
sjunnarkar@bloomberg.net
sandeep.junnarkar@news.co.uk


POLICE
Det. Frank Castille
Police Officer Dan D. Dennings
Lt. Patrician Grace
Detective Susan Treeble
Officer Cantwell Brady-Stevens

Novel Djokvichthe thesaurus where sandeep.junnarkar@journalism.cuny.edu he'd be able to sjnews@gmail.com find words like them.

abcdefgczhijklmnopqrstuvwxyz	ABCDEFGCZHIJKLMNOPQRSTUVWXYZ

A h0g is a hog.

Dog and dog and DOG. His number is 415.458.9163. John Brown jon Smith
Peter Finch

&^%@ 129

$12,560

abba

cat 3452 black
dog 234 white
fish 3562 silver
rat 94 white
bird 1957 purple
horse 3 black
chameleon  5724 green
snake 6730 red

In [48]:
## use findall to find all matching patterns
pat = re.compile("\w+")
pat.findall(mydoc)

['12534',
 '127',
 'ab',
 'aba',
 'abba',
 'sandeepj',
 'bloomberg',
 'net',
 'abbba',
 'abbbbba',
 '518',
 '469',
 '4581',
 'abcde',
 'The',
 'dog',
 'is',
 'a',
 'not',
 'a',
 'hog',
 'ABA',
 'ABBA',
 'ABBBA',
 'Florence',
 'smith',
 'John',
 'Smith',
 'Carol',
 'Brown',
 'Tel',
 '212',
 '452',
 '5728',
 'Ab_CD123',
 '123456',
 'and',
 '12456',
 'tor',
 '12531245134562',
 '123867584789',
 '40',
 '44',
 'or',
 '3',
 'or',
 '52',
 '583',
 '08',
 'or',
 '610',
 '235',
 '11',
 'Tel',
 '917',
 '492',
 '8601',
 'The',
 'cat',
 'sat',
 'down',
 'and',
 'called',
 '514',
 '957',
 '3453',
 'while',
 'the',
 'other',
 'caaaaaat',
 'purred',
 'This',
 'cat',
 'is',
 'in',
 'California',
 'while',
 'this',
 'caaaat',
 'is',
 'in',
 'Iraq',
 'but',
 'none',
 'are',
 'in',
 'ct',
 'My',
 'dog',
 'prefers',
 'cat',
 'food',
 'to',
 'dog',
 'food',
 'but',
 'hates',
 'fish',
 'food',
 'My',
 'food',
 'tastes',
 'yummy',
 'Peter',
 'Trapp',
 'Jon',
 'Smythe',
 'Luca',
 'Smith',
 'John',
 'Smythe',
 'Maggie',
 'Veach',
 'Tel',
 '718',
 '601',
 '7567',
 'AB_cd',
 '_',
 '1',
 '917',
 '488',
 '5410',
 'dsar2d1',
 'I',
 'told',
 'him',
 'to',
 'search',
 'Jon',
 'Smith',
 'Katie',
 'Pine',
 'John',
 'Smth',
 'TELEPHONE',
 'NUMBERS',
 'Tel',
 '718',
 '392',
 '4793',
 'Tel',
 '646',
 '469',
 '3211',
 'Tel',
 '917',
 '425',
 '2796',
 'NUMBERS',
 '1',
 '12',
 '123',
 '123',
 '456',
 '123',
 '456',
 '789',
 '123',
 '456',
 '789',
 '01',
 'EMAILS',
 'sandeep',
 'junnarkar',
 'journalism',
 'cuny',
 'edu',
 'sandeepj',
 'gmail',
 'com',
 'sjunnarkar',
 'bloomberg',
 'net',
 'sandeep',
 'junnarkar',
 'news',
 'co',
 'uk',
 'POLICE',
 'Det',
 'Frank',
 'Castille',
 'Police',
 'Officer',
 'Dan',
 'D',
 'Dennings',
 'Lt',
 'Patrician',
 'Grace',
 'Detective',
 'Susan',
 'Treeble',
 'Officer',
 'Cantwell',
 'Brady',
 'Stevens',
 'Novel',
 'Djokvichthe',
 'thesaurus',
 'where',
 'sandeep',
 'junnarkar',
 'journalism',
 'cuny',
 'edu',
 'he',
 'd',
 'be',
 'able',
 'to',
 'sjnews',
 'gmail',
 'com',
 'find',
 'words',
 'like',
 'them',
 'abcdefgczhijklmnopqrstuvwxyz',
 'ABCDEFGCZHIJKLMNOPQRSTUVWXYZ',
 'A',
 'h0g',
 'is',
 'a',
 'hog',
 'Dog',
 'and',
 'dog',
 'and',
 'DOG',
 'His',
 'number',
 'is',
 '415',
 '458',
 '9163',
 'John',
 'Brown',
 'jon',
 'Smith',
 'Peter',
 'Finch',
 '129',
 '12',
 '560',
 'abba',
 'cat',
 '3452',
 'black',
 'dog',
 '234',
 'white',
 'fish',
 '3562',
 'silver',
 'rat',
 '94',
 'white',
 'bird',
 '1957',
 'purple',
 'horse',
 '3',
 'black',
 'chameleon',
 '5724',
 'green',
 'snake',
 '6730',
 'red']

In [47]:
## what object is it?
type(pat.findall(mydoc))

list

In [49]:
## find any "a" followed by 1 or 2 "b"
pat1 = re.compile("ab{1,2}")

In [50]:
## FIND pat1
pat1.findall(mydoc)

['ab', 'ab', 'abb', 'abb', 'abb', 'ab', 'ab', 'ab', 'abb']

In [52]:
## call our pat1 to see someting interesting
pat1

re.compile(r'ab{1,2}', re.UNICODE)

### Flags

- ```re.IGNORECASE``` or ```re.I``` for ignore case
- ```re.MULTILINE¶``` or ```re.M``` for multiline
- ```re.DOTALL``` or ```re.S``` for period includes new lines
- ```re.VERBOSE``` or ```re.X``` for breaking up the regex

<a href="https://docs.python.org/3/library/re.html#re.ASCII">More on flags</a>.

In [53]:
## find any "a" followed by 1 or 2 "b" ignore case
pat2 = re.compile("ab{1,2}", re.I)

In [54]:
## find all matches for pat2
pat2.findall(mydoc)

['ab',
 'ab',
 'abb',
 'abb',
 'abb',
 'ab',
 'AB',
 'ABB',
 'ABB',
 'Ab',
 'AB',
 'ab',
 'ab',
 'AB',
 'abb']

In [55]:
## find "dog" ignore case - full word
pat3 = re.compile("dog", re.I)

In [56]:
## find "dog" ignore case - abbreviation
pat3.findall(mydoc)

['dog', 'dog', 'dog', 'Dog', 'dog', 'DOG', 'dog']

In [59]:
## without ignore case
pat4 = re.compile("dog")

In [60]:
## match pat4a
pat4.findall(mydoc)

['dog', 'dog', 'dog', 'dog', 'dog']

### Python Interpreter and Regex conflict with ```\```

In [61]:
## run this
pet = "dog\ cat"

In [62]:
## call pet
pet

'dog\\ cat'

In [63]:
## print function pet
print(pet)

dog\ cat

In [64]:
## write regex to find word with 3 characters
re.search("\w{3}", pet)

In [65]:
### write regex to find word with 3 characters followed by a slash
## this will break
re.search("\w{3}\", pet)

SyntaxError: EOL while scanning string literal (1164481042.py, line 3)

In [66]:
## Let's try escaping the slash
### this also breaks because the python interpreter takes away one slash as an escape,
### and then regex is fed an escape for {
re.search("\w{3}\\", pet)

error: bad escape (end of pattern) at position 5

### This is confusing but here's just happened:

```re.search("\w{3}\\", pet)```

1. The Python interpreter sees the slash after the } and takes it as an escape character and removes it.
2. The code is then passed on to the Regex, which then sees a single slash which stands for an escape character instead of the slash in the string.
3. Everthing breaks.

### One option is to double the number of slashes in the search pattern

```re.search("\w{3}\\\\", pet)```

1. The Python interpreter thinks of each extra slash as escape characters, and removes move.
2. But we still have two slashes.
3. Now the Regex sees one slash as an escape character and leaves one behind to search for a slash.

In [67]:
## double the slashes
### This is confusing but here's just happened:
### This is confusing but here's just happened:
re.search("\w{3}\\\\", pet)

### Raw String option

Add an ```r``` before your Regex string to convert it to a raw string.

```re.search(r"\w{3}\\", pet)```

In [68]:
## raw string works.
re.search(r"\w{3}\\", pet)

In [ ]:
## print the target group

### When to use raw string ```r```

#### Two cases
1. When you need to escape the ```\``` to actually find a slash.
2. When you need to use ```\b``` word boundary.

# Put Regex to work

In [69]:
## find telephone numbers
tel_pat = re.compile(r"\(?\d{3}\)?\D\d{3}\D\d{4}")

In [70]:
## run pattern on text
tel_numbers = tel_pat.findall(mydoc)
tel_numbers

['(518) 469-4581',
 '212-452-5728',
 '(917) 492-8601',
 '514-957-3453',
 '718 601 7567',
 '(917) 488-5410',
 '718-392-4793',
 '(646) 469-3211',
 '917.425.2796',
 '415.458.9163']

# Find all animals, quantity and colors

In [71]:
## print mydoc again
print(mydoc)

12534 127 ab aba abba sandeepj@bloomberg.net abbba, abbbbba, (518) 469-4581 abcde.The dog is a not a hog. ABA ABBA ABBBA.

Florence smith
John Smith
Carol Brown Tel. 212-452-5728


Ab_CD123  123456 and 12456	tor 12531245134562. 123867584789. $40.44 or $3 or $52,583.08 or $610,235.11
Tel. (917) 492-8601

The cat sat down and called 514-957-3453 while the other caaaaaat purred. This cat is in California while this caaaat is in Iraq, but none are in ct. My dog prefers cat food to dog food but hates fish food.My food tastes yummy!
Peter Trapp Jon Smythe Luca Smith John Smythe
Maggie Veach Tel. 718 601 7567

AB_cd 	<+>-.,!@# $%^&*();\/|_^@1# (917) 488-5410

*!dsar2d1

I told him to search Jon Smith
Katie Pine
John Smth

TELEPHONE NUMBERS
Tel. 718-392-4793
Tel. (646) 469-3211
Tel. 917.425.2796

NUMBERS
1
12
123
123,456
123,456,789
123,456,789.01

EMAILS
sandeep.junnarkar@journalism.cuny.edu
sandeepj@gmail.com
sjunnarkar@bloomberg.net
sandeep.junnarkar@news.co.uk


POLICE
Det. Frank Castille
Police Officer Dan D. Dennings
Lt. Patrician Grace
Detective Susan Treeble
Officer Cantwell Brady-Stevens

Novel Djokvichthe thesaurus where sandeep.junnarkar@journalism.cuny.edu he'd be able to sjnews@gmail.com find words like them.

abcdefgczhijklmnopqrstuvwxyz	ABCDEFGCZHIJKLMNOPQRSTUVWXYZ

A h0g is a hog.

Dog and dog and DOG. His number is 415.458.9163. John Brown jon Smith
Peter Finch

&^%@ 129

$12,560

abba

cat 3452 black
dog 234 white
fish 3562 silver
rat 94 white
bird 1957 purple
horse 3 black
chameleon  5724 green
snake 6730 red

In [74]:
## pattern
animal_pat = re.compile(r"^[a-z]+\s+\d{1,5}\s+[a-z]+$", re.M)

In [75]:
## find targets
animals = animal_pat.findall(mydoc)
animals

['cat 3452 black',
 'dog 234 white',
 'fish 3562 silver',
 'rat 94 white',
 'bird 1957 purple',
 'horse 3 black',
 'chameleon  5724 green',
 'snake 6730 red']

In [76]:
## turn into df
df = pd.DataFrame(animals)
df

                       0
0         cat 3452 black
1          dog 234 white
2       fish 3562 silver
3           rat 94 white
4       bird 1957 purple
5          horse 3 black
6  chameleon  5724 green
7         snake 6730 red

## Capture groups Detour to Regex101

In [77]:
## pattern to capture animal, quantity and color
animal_pat2 = re.compile(r"^([a-z]+)\s+(\d{1,5})\s+([a-z]+)$", re.M)

In [78]:
## capture all data
data = animal_pat2.findall(mydoc)
data

[('cat', '3452', 'black'),
 ('dog', '234', 'white'),
 ('fish', '3562', 'silver'),
 ('rat', '94', 'white'),
 ('bird', '1957', 'purple'),
 ('horse', '3', 'black'),
 ('chameleon', '5724', 'green'),
 ('snake', '6730', 'red')]

In [79]:
## what type of object
type(data)

list

In [80]:
## what type of ojbects does it hold?
type(data[0])

tuple

In [81]:
## export to df
df = pd.DataFrame(data)
df.columns = ["animal", "quantity", "color"]
df

      animal quantity   color
0        cat     3452   black
1        dog      234   white
2       fish     3562  silver
3        rat       94   white
4       bird     1957  purple
5      horse        3   black
6  chameleon     5724   green
7      snake     6730     red

In [82]:
print(mydoc)

12534 127 ab aba abba sandeepj@bloomberg.net abbba, abbbbba, (518) 469-4581 abcde.The dog is a not a hog. ABA ABBA ABBBA.

Florence smith
John Smith
Carol Brown Tel. 212-452-5728


Ab_CD123  123456 and 12456	tor 12531245134562. 123867584789. $40.44 or $3 or $52,583.08 or $610,235.11
Tel. (917) 492-8601

The cat sat down and called 514-957-3453 while the other caaaaaat purred. This cat is in California while this caaaat is in Iraq, but none are in ct. My dog prefers cat food to dog food but hates fish food.My food tastes yummy!
Peter Trapp Jon Smythe Luca Smith John Smythe
Maggie Veach Tel. 718 601 7567

AB_cd 	<+>-.,!@# $%^&*();\/|_^@1# (917) 488-5410

*!dsar2d1

I told him to search Jon Smith
Katie Pine
John Smth

TELEPHONE NUMBERS
Tel. 718-392-4793
Tel. (646) 469-3211
Tel. 917.425.2796

NUMBERS
1
12
123
123,456
123,456,789
123,456,789.01

EMAILS
sandeep.junnarkar@journalism.cuny.edu
sandeepj@gmail.com
sjunnarkar@bloomberg.net
sandeep.junnarkar@news.co.uk


POLICE
Det. Frank Castille
Police Officer Dan D. Dennings
Lt. Patrician Grace
Detective Susan Treeble
Officer Cantwell Brady-Stevens

Novel Djokvichthe thesaurus where sandeep.junnarkar@journalism.cuny.edu he'd be able to sjnews@gmail.com find words like them.

abcdefgczhijklmnopqrstuvwxyz	ABCDEFGCZHIJKLMNOPQRSTUVWXYZ

A h0g is a hog.

Dog and dog and DOG. His number is 415.458.9163. John Brown jon Smith
Peter Finch

&^%@ 129

$12,560

abba

cat 3452 black
dog 234 white
fish 3562 silver
rat 94 white
bird 1957 purple
horse 3 black
chameleon  5724 green
snake 6730 red

## Non-Capture Group Captures

In [83]:
## find all Jon Smiths and their variations
name_pat = re.compile(r"j\wh?n\ssm\w+", re.I)

In [85]:
## run pattern on text
name_pat.findall(mydoc)

['John Smith',
 'Jon Smythe',
 'John Smythe',
 'Jon Smith',
 'John Smth',
 'jon Smith']

## What if we want to capture as first name and last name separately?

In [97]:
## create with capture pattern
name_pat2 = re.compile(r"(?P<full_name>(?P<first_name>j\wh?n)\s(?P<last_name>sm\w+))", re.I)

In [98]:
## run pattern on text
names = name_pat2.findall(mydoc)
names

[('John Smith', 'John', 'Smith'),
 ('Jon Smythe', 'Jon', 'Smythe'),
 ('John Smythe', 'John', 'Smythe'),
 ('Jon Smith', 'Jon', 'Smith'),
 ('John Smth', 'John', 'Smth'),
 ('jon Smith', 'jon', 'Smith')]

In [96]:
## export to df
df = pd.DataFrame(names)
df.columns = ["full_name", "first_name", "last_name"]
df

     full_name first_name last_name
0   John Smith       John     Smith
1   Jon Smythe        Jon    Smythe
2  John Smythe       John    Smythe
3    Jon Smith        Jon     Smith
4    John Smth       John      Smth
5    jon Smith        jon     Smith

In [ ]:
weapons_text = '''Weapon Type/Force Used 2000 2001 2002 2003 2004 totals
Personal Weapons 12,945 17,830 20,636 21,933 25,050 98,394
None 2,702 3,114 2,974 3,294 4,176 16,260
Other 1,775 2,311 2,332 2,420 2,842 11,680
Knife/Cutting Instrument 1,511 2,082 2,080 2,445 2,852 10,970
Handgun 307 376 398 430 497 2,008
Blunt Object 283 404 394 455 469 2,005
Firearm (type not stated) 94 131 103 135 146 609
Other Firearm 74 107 92 155 154 582
Explosives 145 139 93 89 95 561
Motor Vehicle 43 52 46 59 71 271
Fire/Incendiary Device 36 34 42 36 88 236
Rifle 23 33 33 24 37 150
Shotgun 15 24 30 19 24 112
Drugs/Narcotics/Sleeping Pills 9 4 8 14 6 41
Poison 1 8 4 11 16 40
Asphyxiation 2 1 3 6 2 14
Unknown 593 1,128 1,163 1,069 1,098 5,051

'''

In [ ]:
## pattern

In [ ]:
## find all

In [ ]:
## turn into df

In [ ]:
## designate column headers

In [ ]:
## new df with column headers

In [ ]:
## call df